#results {
    margin: auto;
    width: 84%;
}

#output {
    width: 72%;
    margin: auto;
    display: inline-block;
}
#output_panel_choice {
    margin: auto;
    width: 50%;
    padding: 30px;
}
.panel_choice {
    background: rgba(32, 25, 36, 0.3);
    color: var(--theme-col-five);    
    font-size: 1.6em;
    padding: 3px 6px 3px 6px;
    width: 49%;
    border: 3px solid var(--theme-col-two);
    border-radius: 6px;
    font-family: var(--theme-fonttwo);
}
#other_res_choice {
     background: 0;
     border-width: 0px;
}

#top_restaurant_box {
    width: 95%;
    margin: auto;
    padding: 30px 0 30px 0;
    border: 4px solid var(--theme-col-one);
    border-radius: 6px;
    background: rgba(50, 50, 50, 0.7);
}
#top_restaurant_details {
    width: 100%;
    display: inline-block;
    padding: 10px 0 40px 0;
}
.top_restaurant_pictures {
    background-image: radial-gradient(var(--theme-col-five), #101010);
    padding-top: 20px;
    position: relative;
    display: none;
}
#top_restaurant_pictures_0 {
    display: block;
}

#top_restaurant_stars {
    text-align: center;
}

#top_restaurant_name {
    width: 36%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}
.tr_text {
    margin: 2px;
    font-size: 1.2em;
    color: var(--theme-col-one);
}
#top_restaurant_rev {
    color: var(--theme-col-five); 
    font-size: 1em; 
    padding: 7px 7px 15px 7px; 
}
#top_restaurant_rev_title {
    text-align: center; 
    font-weight: bold; 
    color: var(--theme-col-five);
    display: inline-block;
}

#top_restaurant_s_photo {
    height: 200px;
    padding: 40px;
}
.restaurant_photo_box {
    width: 100%;
    height: 70%;
    border-right: 2px solid var(--theme-col-two);
}
.tr_photo {
    display: block;
    margin: auto;
    max-width: 96%;
    max-height: 100%;
}
.top_restaurant_review {
    width: 60%;
    background-color: var(--theme-col-four);
    border: 2px solid var(--theme-col-one);
    border-radius: 4px;
    padding: 7px;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}
.restaurant_photo_grid {
    width: 24%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.next_photos {
    width: 3%;
    height: 200px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    right: 0;
    transform: translate(-25%, 0);
}	
#next_photos_button {
    height: 90%;
    width: 90%;
    background-color: var(--theme-col-two);
    color: var(--theme-col-five);
    border: 1px solid var(--theme-col-three);
    border-radius: 2px;
    font-size: 1.5em;
    font-family: var(--theme-fonttwo);
}

.restaurant_photo_caption {
    height: 30%;
    padding-top: 5px;
}
.tr_photo_caption {
    text-align: center;
    color: var(--theme-col-two);
    font-size: 0.8em;
    margin: auto;
    padding-top: 2px;
}
#other_restaurants_box {
    display: none;
    width: 95%;
    margin: auto;
    padding: 30px 0 0 0;
    border: 4px solid var(--theme-col-one);
    border-radius: 6px;
    background: rgba(50, 50, 50, 0.7);
}

#search_bar {
    display: inline-block;
    background-color: var(--theme-col-four);
    width: 24%;
    padding: 18px ;
    vertical-align: top;
    margin: 100px 0 0 0;
    border: 2px solid black;
}
#search_bar_prompt {
    font-size: 1.5em;
    color: var(--theme-col-five);
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.sidebar_input_box {
    margin: auto;
    width: 95%;
    padding: 8px;
    font-size: 1em;
}

.sidebar_input_label {
    color: var(--theme-col-five);
    text-align: right;
    width: 27%;
    display: inline-block;
}

.sidebar_input_textbox {
    padding: 4px;
    background-color: var(--theme-col-fourth);
    border: 2px solid var(--theme-col-five);
    border-radius: 4px;
    width: 60%;
    font-family: var(--theme-fonttwo);
}

#sidebar_submit_box {
    width: 40%;
    padding: 40px;
    margin: auto;
}

#submit_sidebar_input {
   width: 98%;
   font-weight: bold;
   color: var(--theme-col-four);
   background: var(--theme-col-five);
   border: 3px solid var(--theme-col-five);
   font-family: var(--theme-fonttwo);
   font-size: 1em;
}

.other_restaurant_box {
    width: 60%;
    border: 3px solid var(--theme-col-five);
    border-radius: 6px;
    padding: 18px;
    margin: auto;
    background: rgba(20, 20, 20, 0.7);
}

.other_restaurant_name {
   margin: auto;
   padding: 6px; 
}
.or_text {
    text-align: center;
    font-size: 1.4em;
    color: var(--theme-col-two);
    margin: 2px;
}

.other_restaurant_stars {
    margin: auto;
    text-align: center;
}

.other_restaurant_info {
    vertical-align: middle;
    display: inline-block;
    margin: auto;
    width: calc(98% - 200px);
}
.other_restaurant_address {
    margin: auto;
    text-align: center;
}
.other_photo_box {
    vertical-align: middle;
    display: inline-block;
    height: 200px;
    width: 200px;
}
.other_restaurant_photo {
    height: 70%;
    width: 100%;
    margin: auto;
    position: relative;
    border: 2px solid var(--theme-col-two);
}
.other_photo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95%;
}

.no_other {
    width: 60%;
    background: rgba(20, 20, 20, 0.7);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 1.4em;
    color: var(--theme-col-one);
    margin: auto;
}

button:hover {
    border: 2px solid var(--theme-col-four);
}

@media only screen and (max-width: 1000px) {
    #output {
        width: 100%;
        margin: 0 0 40px 0;
    }
    #search_bar {
        display: block;
        width: 60%;
        margin: auto;
    }
    #top_restaurant_name {
        width: 100%;
        padding: 0 0 30px 0;
    }
    .top_restaurant_review {
        width: 85%;
        display: block;
    }
    .restaurant_photo_grid {
        width: 49%;
    }
    #output_panel_choice {
        width: 70%;
    }
    .other_restaurant_image {
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    #results {width: 90%;}
    #output_panel_choice {
	width: 90%;
    }
    .panel_choice {
	width: 80%;
	display: block;
	margin: auto;
    }
    .restaurant_photo_box {height: 70px;}
    #search_bar {width: 85%}
    #search_bar_prompt {font-size: 1.2em;}
    .sidebar_input_label {
    	width: 28%;
	font-size: 0.8em;
    }
    .sidebar_input_textbox {
    	width: 62%;
	font-size: 0.8em;
    }
    .restaurant_photo_grid {
	width: 49%;
	height: 100px;
	padding-bottom: 2.5px;
    }
    .tr_photo_caption{ font-size: 0.6em; }
    .next_photos {
    	width: 60%;
	height: 25px;
	transform: 0;
	position: absolute;
	display: block;
	margin: auto;
	padding: 5px;
    }
    .other_restaurant_box { width: 70%; }
    .or_text { font-size: 1.2em }
    .other_restaurant_info {
    	display: block;
	width: 90%;
    }
    .other_restaurant_photo {display: block; margin: auto;}
}
